<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The checklist</title>
    <script src="https://unpkg.com/vue@3"></script>

</head>
<body>
    <div id="app">
        <h1>The checklist</h1>
        <ajout @nouvellenote="ajouterNote"></ajout>
        <note v-for="todo in todos" v-bind:content="todo"></note>
    </div>

    <script>
        const vm = Vue.createApp({
            data(){
                return {
                    message: 'Hello world !',
                    todos: [ "Sauver le monde", "Escalader l'everest", "Grimper au Machu Pichu"]
                }
            },
            methods:{
                inverser(){
                    this.todos.reverse();
                },
                ajouterNote(message){
                    this.todos.push(message);
                    this.message = '';
                }
            }
        })
        
        // données depuis l'instance de vue principale vers le component
        vm.component('note', {
            props: ['content'],
            template: `
            <p> {{ content }} </p>            
            `
        })

        // le component reçoit des infos qu'il renvoit à la vue
        vm.component('ajout', {
            props: [],
            emits:['nouvellenote'],
            data(){
                return{
                    interne: 'Nouveau message'
                }
            },
            methods:{
                enregistrementNote(){
                    this.$emit('nouvellenote', this.interne)
                    this.interne='';
                }
            },
            template: `
            <input type="text" v-model="interne" />
            <a href="#" @click="enregistrementNote" v-if="interne != ''"> Ajouter </a>
            {{ interne }}
            `
        })
        
        vm.mount('#app')
    </script>
</body>
</html>